<%- include("partials/header"); -%>

    <main class="d-flex">
        <%- include("partials/sidebar"); -%>
        <section class="workspace d-flex">
            <div class="topbar d-flex">
                <h1 class="heading">Cross Keep</h1>
            </div>
            <div class="notes-area d-flex">
                <% if(!notes.length) { %>
                    <h2 class="no-notes-message">No notes to cover. Create notes by tapping on the '+' icon.</h2>
                <% } else { %>
                    <% notes.forEach((note) => { %>
                        <div class="note">
                            <h2><%= note.title %></h2>
                            <p><%= note.body %></p>
                        </div>
                    <% }) %> 
                <% } %> 
            </div>
        </section>
        <a href="/create" class="add-btn"><button>+</button></a>
    </main>

    <%- include("partials/footer"); -%>